<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mohistzh.metrics.storage.mapper.MetricsInstanceMapper">

    <select id="getAllInstances" resultType="me.mohistzh.metrics.model.pojo.MetricsInstance">
        SELECT *
        FROM `metrics_instance`
    </select>

    <select id="getMetricsInstancesById" resultType="me.mohistzh.metrics.model.pojo.MetricsInstance" parameterType="int">
        SELECT *
        FROM `metrics_instance`
        WHERE `id` = #{id}
    </select>

    <select id="getInstancesByHostAndPort" resultType="me.mohistzh.metrics.model.pojo.MetricsInstance" >
        SELECT * FROM `metrics_instance` WHERE `host` = #{host} and `port` = #{port}
    </select>

    <insert id="insertMetricsInstances" useGeneratedKeys="true" keyColumn="Id" keyProperty="id">
        INSERT INTO metrics_instance(`type`, `host`, `port`, `username`, `password`,
        `path`, `metrics_api`)
        VALUES
        <foreach collection="list" item="item" index="index" separator=", ">
            (#{item.type} , #{item.host}, #{item.port}, #{item.username}, #{item.password},
            #{item.path}, #{item.metricsAPI})
        </foreach>
    </insert>

</mapper>